:root {
  --fab-orange: #e17a5f;
  --light-green: #81b29a;
  --black-17: black;
  --black16: #00000029;
  --dark-slate-grey: #323e48;
  --snow: #fcf7f5;
  --yellow: #f4f1de;
  --royal-blue: #576ca8;
  --white: white;
  --accessible-components--dark-grey: #9b9b9b;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Inter, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 150%;
}

h1 {
  letter-spacing: -.03em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.4em;
  font-weight: 200;
  line-height: 100%;
}

h2 {
  letter-spacing: -.025em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: 300;
  line-height: 100%;
}

h3 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 300;
  line-height: 100%;
}

h4 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 100%;
}

h5 {
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 100%;
}

h6 {
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 100%;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

label {
  color: #ffe4e8;
  padding-left: 40px;
  font-size: 1.2em;
  font-weight: 400;
  display: block;
}

strong {
  font-weight: 600;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

.style-guide-page {
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-items: start;
  padding: 10% 15%;
  display: grid;
}

.license-images {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  column-count: 6;
  column-rule-style: none;
  column-rule-width: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
}

.license-image {
  margin-bottom: 16px;
}

.style-guide-grid {
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  grid-auto-columns: 1fr;
  place-items: start;
  margin: 40px;
  display: grid;
}

.style-guide-grid.buttons {
  background-color: var(--fab-orange);
  padding: 37px;
}

.style-label {
  color: #fff;
  background-color: #a95889;
  border-radius: 4px;
  margin-top: 30px;
  padding: 6px 9px;
  font-weight: 300;
  line-height: 100%;
}

.style-label.class {
  background-color: #4b78bd;
}

.hero-headings {
  flex-flow: column;
  justify-content: flex-start;
  align-self: stretch;
  align-items: flex-start;
  display: flex;
}

.container-hero {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section-hero {
  min-height: 100vh;
  padding-left: 10vw;
}

.hero-content {
  color: #000;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 8%;
  display: flex;
}

.hero-heading {
  color: var(--light-green);
  max-width: 560px;
  margin-bottom: 10px;
  font-size: 4.8em;
}

.navigation-destkop {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 18vw;
  min-width: 160px;
  display: flex;
}

.navigation-destkop.sticky {
  z-index: 99;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: var(--black-17);
  opacity: 1;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-width: 80%;
  padding: 15px 10px 10px;
  display: flex;
  position: fixed;
  top: 0;
}

.navigation-destkop.sticky.navigation {
  z-index: 99999;
  background-color: var(--light-green);
  align-items: center;
  box-shadow: 0 2px 5px #0003;
}

.logo {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #cedbff;
  grid-template-rows: auto;
  grid-template-columns: 28px auto;
  grid-auto-columns: 1fr;
  align-items: center;
  font-weight: 200;
  text-decoration: none;
  transition: color .4s;
  display: grid;
}

.logo:hover {
  opacity: 1;
  color: #fff;
}

.logo-wrap {
  background-image: url('../images/FAB-2024-TRANSPARENT.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 130px;
  height: 130px;
}

.section-about {
  flex-direction: column;
  padding-top: 20vh;
  padding-bottom: 15vh;
  display: flex;
}

.container-about {
  background-color: #0000;
  flex-direction: row;
  place-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  display: flex;
}

.about-image-wrap {
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  padding-left: 10%;
  padding-right: 5%;
  display: flex;
}

.about-description-wrap {
  flex-direction: column;
  align-self: center;
  width: 50%;
  padding-left: 10%;
  display: flex;
}

.about-heading {
  color: var(--light-green);
  max-width: 760px;
  margin-bottom: 15vh;
  margin-left: 10%;
  font-weight: 500;
  line-height: 120%;
}

.about-description {
  max-width: 350px;
  font-size: 1.6em;
  line-height: 180%;
}

.grid-services {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-template-rows: minmax(439px, auto);
  grid-template-columns: minmax(200px, 1.25fr) minmax(200px, 1fr);
  grid-auto-rows: minmax(220px, auto);
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.services-cell {
  background-color: var(--light-green);
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
}

.services-cell.neg-margin {
  background-color: var(--light-green);
}

.member-about {
  color: var(--black-17);
  border-top: 1px solid #0000;
  margin-bottom: 10px;
  line-height: 150%;
}

.section-team {
  flex-wrap: wrap;
  width: 100%;
  padding: 20vh 8%;
  display: flex;
}

.member-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.member-photo {
  border-radius: 50%;
  width: 320px;
}

.member-wide {
  grid-column-gap: 4vw;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 250px auto;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.member-name {
  color: var(--light-green);
  flex-direction: row;
  font-weight: 500;
}

.member-title {
  border-top: 1px solid var(--black16);
  color: var(--dark-slate-grey);
  letter-spacing: .08em;
  text-indent: 0;
  text-transform: uppercase;
  border-radius: 2px;
  margin-top: 14px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 4px;
  font-weight: 300;
}

.submit-button {
  color: #ffe4e8;
  background-color: #0000;
  border: 1px solid #ddb3b9;
  margin-left: 30px;
  margin-right: 30px;
  padding: 15px 40px;
  font-size: 1.5em;
  line-height: 100%;
  transition: box-shadow .3s, border-color .3s, color .3s, background-color .3s;
}

.submit-button:hover {
  color: #fff6f7;
  background-color: #581721;
  border-color: #0000;
  box-shadow: 0 20px 40px -23px #30060c;
}

.section-services {
  width: 100%;
  max-width: 100%;
  padding-bottom: 3vh;
  padding-left: 5%;
  padding-right: 5%;
  overflow: visible;
}

.grid-team {
  grid-column-gap: 7vw;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  grid-auto-columns: 1fr;
  align-items: start;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.team-heading {
  color: var(--light-green);
  margin-bottom: 5vh;
  font-weight: 500;
}

.our-goal-heading {
  color: var(--snow);
  margin-left: 16%;
  margin-right: 10%;
  font-size: 1.5em;
  line-height: 120%;
}

.services-cell-title {
  border-top: 1px none var(--snow);
  border-bottom: 1px solid var(--snow);
  color: var(--yellow);
  text-transform: uppercase;
  width: 100%;
  padding: 0 2% 20px 16%;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 30px;
}

.slider {
  height: 100%;
  display: flex;
}

.slider.diff-height {
  display: block;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.slider-arrow {
  cursor: pointer;
  display: block;
  inset: 0% auto 0% 0%;
}

.slider-arrow.right {
  cursor: pointer;
  display: block;
  inset: 0% 0% 0% auto;
}

.slide-nav {
  z-index: 1111;
}

.team-left {
  margin-top: auto;
  position: sticky;
  bottom: 15vh;
}

.team-right {
  grid-column-gap: 16px;
  grid-row-gap: 20vh;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: 28vh;
  display: grid;
}

.price-title {
  color: var(--light-green);
  text-align: center;
  letter-spacing: 0;
  text-transform: none;
  align-self: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 110%;
}

.services-video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.value-title {
  color: var(--black-17);
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
}

.navlink-line {
  border-bottom: 1px solid #e9def3;
  align-self: center;
  width: 0%;
  margin-left: 1px;
  padding-top: 8px;
}

.navigation-item {
  color: #e9def3;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 1.1em;
  line-height: 100%;
  display: flex;
}

.navigation-item:hover {
  color: #75b5a0;
}

.navigation-item.book-now {
  font-size: 1.5em;
  font-weight: 400;
}

.navigation-item.book-now.no-margin.bigbutton {
  background-image: linear-gradient(to bottom, var(--light-green), var(--light-green));
  border-radius: 5px;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
}

.navigation-item.no-margin {
  margin-bottom: 0;
}

.navigation-item.no-margin:hover {
  color: #75b5a0;
}

.animation-line-1 {
  z-index: 9999;
  background-color: #f0f0f0;
  width: 2vw;
  height: 2px;
  position: absolute;
  top: 50vh;
  left: 10vw;
}

.animation-line-2 {
  z-index: 9999;
  background-color: #f0f0f0;
  width: 2px;
  height: 3vh;
  position: absolute;
  top: 25vh;
  right: 25vw;
}

.contact-link {
  color: var(--royal-blue);
  letter-spacing: -.015em;
  background-image: url('../images/link.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 20px;
  margin-left: 70px;
  padding-left: 50px;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 160%;
  transition: color .3s;
  display: block;
}

.contact-link:hover {
  color: var(--fab-orange);
}

.contact-link.email {
  color: var(--snow);
  background-image: url('../images/envelope.png');
  background-position: 0%;
  background-size: 25px;
  margin-left: 0;
  font-size: 1em;
}

.contact-link.email:hover {
  color: #467465;
}

.contact-link.phone {
  color: var(--snow);
  background-image: url('../images/telephone.png');
  background-size: 25px;
  margin-left: 0;
  font-size: 1em;
  transition: color .3s;
}

.contact-link.phone:hover {
  color: #467465;
}

.footer {
  border-top: 1px solid #ce42571c;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  display: flex;
}

.footer-link {
  color: var(--royal-blue);
  border-bottom: 1px solid #0000;
  margin-right: 25px;
  transition: border-color .2s, color .2s;
}

.footer-link:hover {
  border-bottom-color: var(--fab-orange);
  color: var(--fab-orange);
}

.dark-background {
  z-index: 9990;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.works-item {
  grid-template-rows: auto;
  grid-template-columns: 75% 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
  margin-top: 15vh;
  display: flex;
}

.light-background {
  z-index: -1;
  opacity: 0;
  background-color: #fff;
  width: 100vw;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.contacts-text {
  color: var(--snow);
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 160%;
}

.contacts-text.address {
  color: var(--snow);
  text-align: left;
}

.utility-page-wrap {
  background-color: var(--royal-blue);
  color: #eff3ff;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  width: 300px;
  font-size: 1.1em;
  line-height: 150%;
  display: grid;
}

.utility-page-form {
  grid-column-gap: 16px;
  grid-row-gap: 30px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
}

.field-label {
  padding-left: 0;
}

.password-image {
  margin-bottom: 15px;
}

.license-videos {
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: flex;
}

.license-video {
  grid-column-gap: 16px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 50%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  display: grid;
}

.text-span {
  color: var(--yellow);
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: 500;
}

.text-span.text-over {
  z-index: 99;
  color: var(--snow);
  background-color: #75b5a0;
  padding-bottom: 43px;
  font-weight: 500;
  position: absolute;
  inset: auto 0% 0%;
}

.text-block {
  color: var(--yellow);
  font-size: .8em;
  font-weight: 700;
}

.membertimes {
  border-top: 1px solid var(--black16);
  color: var(--light-green);
  padding-top: 10px;
}

.pricediv {
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  display: flex;
}

.pricediv.margin-10 {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.pricediv.margin-20 {
  margin-top: 20px;
  padding-bottom: 10px;
}

.paragraph {
  color: var(--black-17);
  font-style: italic;
  font-weight: 500;
}

.grey {
  color: var(--light-green);
}

.heading {
  color: var(--light-green);
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 1.7em;
  font-weight: 500;
}

.heading.biggreen {
  letter-spacing: 0;
  margin-bottom: 20px;
}

.heading.margin-10 {
  margin-top: 10px;
}

.titaradiv {
  border-top: 1px none var(--black16);
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 20px;
}

.heading-2 {
  color: var(--yellow);
  font-weight: 600;
}

.bold-text {
  color: var(--light-green);
  font-style: normal;
}

.extra-cost {
  color: var(--dark-slate-grey);
  text-align: center;
  font-size: .9em;
  font-style: normal;
}

.text-span-6, .text-span-7, .text-span-9, .text-span-10, .text-span-11 {
  font-style: italic;
}

.paragraph-2 {
  color: var(--black-17);
  text-align: center;
  margin-top: 10px;
  font-weight: 300;
}

.paragraph-3 {
  color: #fff;
  margin-top: 10px;
}

.boldhighlight {
  color: var(--yellow);
  font-weight: 700;
}

.bold-text-2 {
  font-weight: 300;
}

.slider-3 {
  width: 100%;
  height: 100%;
  display: block;
}

.slide-8 {
  background-color: var(--light-green);
  padding-top: 20px;
  padding-bottom: 20px;
}

.bold-text-3 {
  color: var(--snow);
  font-weight: 400;
}

.icon {
  inset: 0% 0% 0% auto;
}

.left-arrow {
  z-index: 999;
  justify-content: center;
  align-items: center;
  display: block;
  inset: 0% auto 0% 0%;
}

.slide-nav-2 {
  width: 50%;
  inset: auto 0% -10%;
}

.prices-destkop {
  flex-direction: row;
  width: 100%;
  padding: 10%;
  display: block;
}

.div-block-2 {
  background-color: #f8f8f8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 20px 10px 20px 20px;
  display: block;
}

.pricing-tab {
  border: 1px solid var(--snow);
  background-color: var(--dark-slate-grey);
  width: 100%;
  height: 100%;
}

.pricing-tab.w--current {
  background-color: var(--light-green);
}

.pricing-text {
  color: var(--yellow);
  font-size: 1em;
  font-weight: 600;
}

.tabs-content {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: block;
}

.tabs {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.tabs-menu {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 30%;
  display: flex;
}

.div-block-3 {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.div-block-4, .div-block-5 {
  width: 50%;
}

.div-block-6 {
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-7, .div-block-8 {
  width: 50%;
}

.container {
  flex-direction: column;
  align-items: center;
  width: 1440px;
  display: flex;
}

.container.width-100 {
  justify-content: center;
  width: 100%;
}

.pricing-content-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  display: flex;
}

.section {
  padding-left: 10%;
  padding-right: 10%;
}

.content-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  display: flex;
}

.item {
  background-color: var(--light-green);
  width: 50%;
  height: 150px;
  margin: 0 10px 10px 0;
  padding: 20px;
}

.item-wrapper {
  justify-content: center;
  align-items: center;
  max-width: 940px;
  display: flex;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  display: grid;
}

.field-label-2 {
  color: #00000054;
  padding-left: 10px;
  font-size: 1em;
}

.text-field-2, .text-field-3, .textarea-2, .text-field-4, .text-field-5 {
  border: 1px solid var(--light-green);
}

.submit-button-2 {
  background-color: var(--light-green);
  color: var(--snow);
}

.submit-button-2:hover {
  background-color: #467465;
}

.map {
  width: 100%;
  height: 300px;
  display: none;
}

.faq-item {
  background-color: #0000;
  border: 1px #212121;
  border-radius: 0;
  box-shadow: 0 10px 20px #0000000d;
}

.question-text {
  background-color: var(--light-green);
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
}

.container-2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.image {
  z-index: 9999999;
  display: block;
  position: relative;
}

.nav-menu {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
}

.brand {
  right: 40px;
}

.div-block-10 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-11 {
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
}

.footer-2 {
  background-color: var(--light-green);
  text-align: center;
  align-items: flex-start;
  padding-top: 60px;
}

.footer-flex-container {
  text-align: left;
  justify-content: space-between;
  display: flex;
}

.div-block-14 {
  width: 50%;
}

.div-block-15, .div-block-16 {
  width: 25%;
}

.social-wrapper.negative-margin {
  margin-top: -10px;
}

.social-wrapper.negative-margin._1 {
  margin-top: -30px;
}

.social-image {
  width: 35px;
  height: 35px;
}

.social-image.small-icon {
  width: 25px;
  height: 25px;
}

.social-block {
  padding: 10px;
}

.social-block.pl-none {
  padding-left: 0;
}

.navigation-mobile.sticky {
  display: none;
}

.footer-copy {
  background-color: var(--dark-slate-grey);
  width: 100%;
}

.footer-copy-text {
  background-color: var(--dark-slate-grey);
  color: var(--snow);
  text-align: left;
  padding: 10px;
  font-size: .9em;
}

.small-paragraph {
  color: var(--black-17);
  text-align: center;
  letter-spacing: normal;
  text-transform: none;
  font-size: 11px;
  line-height: 18px;
}

.image-6 {
  width: 100%;
  height: 100%;
}

.bold-text-4 {
  font-weight: 400;
}

.button {
  text-align: center;
  background-color: #3a8581;
  margin-top: 10px;
}

.button:hover {
  background-color: #75b5a0;
}

.button-wrapper {
  border-top: 1px solid #000;
  border-bottom: 0 solid #000;
  border-left: 0 solid #000;
  border-right: 0 #000;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 10px;
  display: flex;
}

.button-wrapper.no-divider {
  border-top-style: none;
}

.div-block-19 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-20 {
  display: flex;
}

.div-block-21 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.slider-4 {
  background-image: url('../images/Olaplex-Promotion-June-4.jpg');
  background-position: 0 0;
  background-size: cover;
  height: 100%;
}

.right-arrow-3, .left-arrow-3 {
  display: block;
}

.div-block-23, .div-block-24 {
  position: relative;
}

.mask-3 {
  width: 100%;
  overflow: hidden;
}

.slide-nav-4 {
  z-index: 111;
  opacity: 1;
  background-color: #75b5a0db;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 70%;
}

.text-block-3 {
  color: var(--snow);
  text-align: left;
}

.container-4 {
  padding-bottom: 40px;
}

.container-5 {
  display: flex;
}

.site-by {
  color: var(--snow);
  padding: 10px;
}

.link {
  color: var(--snow);
}

.link:hover {
  color: #75b5a0;
}

.text-span-12, .text-span-13, .text-span-14, .text-span-15, .text-span-16, .text-span-17, .text-span-18, .text-span-19 {
  font-weight: 500;
}

.text-span-20 {
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}

.text-span-21, .text-span-22 {
  font-weight: 400;
}

.text-span-23 {
  font-size: .8em;
  font-style: italic;
}

.text-span-24, .text-span-25, .text-span-26 {
  font-weight: 500;
}

.text-span-28 {
  font-weight: 500;
  text-decoration: underline;
}

.policies-container {
  margin-top: 40px;
  padding: 20px;
}

.heading-3 {
  color: #323e48;
  font-weight: 600;
}

.heading-3.margin-10 {
  color: var(--light-green);
  margin-top: 10px;
}

.text-block-4 {
  color: var(--black-17);
}

.slide-nav-5 {
  z-index: 99;
}

.add-ons_accordion-header {
  align-items: center;
  display: flex;
}

.add-ons_accordion-header.add-ons_js-accordion-header {
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.add-ons_accordion-item {
  box-shadow: none;
  text-align: left;
  border-bottom: 1px solid #cdd0d7;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.add-ons_accordion-item.add-ons_js-accordion-item {
  box-shadow: none;
  width: 100%;
}

.add-ons_accordion-body {
  padding-left: 3.2rem;
  display: block;
}

.add-ons_accordion-body.add-ons_js-accordion-body {
  padding-bottom: 2rem;
  padding-left: 0;
}

.add-ons_accordion-title {
  flex: 1;
}

.prices---mobile {
  display: none;
}

.add-ons_accordion {
  display: block;
}

.add-ons_accordion.add-ons_js-accordion {
  padding-top: 0;
  padding-bottom: 2rem;
  position: relative;
}

.container-large {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section-add-ons {
  text-align: center;
}

.page-padding {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.italic-text {
  color: var(--light-green);
}

.text-block-5, .text-block-6, .text-block-7, .text-block-8, .text-block-9, .bold-text-6, .text-span-29 {
  color: var(--yellow);
}

.text-span-30, .text-span-31, .text-span-32, .text-span-33, .text-span-34, .text-span-35, .text-span-36, .text-span-37 {
  color: var(--dark-slate-grey);
}

.bold-text-7 {
  color: var(--yellow);
}

.outlinebutton {
  background-color: #00000080;
  border: .1px solid #fcf7f5;
  border-radius: 0;
  margin-top: 10px;
}

.social-wrapper-2.negative-margin {
  margin-top: -10px;
}

.social-wrapper-2.negative-margin._1 {
  margin-top: -30px;
}

.social-block-2 {
  padding: 10px;
}

.social-block-2.pl-none {
  padding-left: 0;
}

.hero-heading-2 {
  color: #81b29a;
  max-width: 560px;
  margin-bottom: 10px;
  font-size: 4.8em;
}

.hero-heading-2.whtheading {
  color: #fcf7f5;
}

.text-block-10 {
  color: #f4f1de;
  font-size: .8em;
  font-weight: 700;
}

.image-8 {
  margin-bottom: 10px;
}

.image-8.davines {
  margin-bottom: 40px;
}

.animation-line-3 {
  z-index: 9999;
  background-color: #f0f0f0;
  width: 2vw;
  height: 2px;
  position: absolute;
  top: 50vh;
  left: 10vw;
}

.davineslogo {
  margin-bottom: 20px;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-overview {
  background-color: #f4f1de;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.gallery-overview.green {
  background-color: var(--light-green);
}

.contactlinkdark {
  color: #323e48;
  font-weight: 500;
  text-decoration: none;
}

.contactlinkdark:hover {
  color: #81b29a;
}

.gallery-grid {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image {
  width: 100%;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.whitepara {
  color: #fff;
}

.text-block-11, .text-block-12, .text-block-13, .text-block-14, .text-block-15 {
  color: var(--white);
  font-weight: 500;
}

.mobilepricesnew {
  display: none;
}

.fs_accordion-1_icon {
  margin-right: 0;
  font-size: 1.125rem;
  position: relative;
}

.fs_accordion-1_header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  cursor: pointer;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
}

.fs_accordion-1_header:focus-visible, .fs_accordion-1_header[data-wf-focus-visible] {
  outline-color: var(--accessible-components--dark-grey);
  outline-offset: 4px;
  outline-width: 2px;
  outline-style: solid;
}

.fs_accordion-1_paragraph {
  margin-bottom: 0;
}

.fs_accordion-1_component {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs_accordion-1_content {
  overflow: hidden;
}

.fs_accordion-1_body {
  background-color: #fff;
  padding: 1rem 1.5rem;
}

.fs_accordion-1_label {
  font-size: 1.25rem;
  font-weight: 500;
}

.fs_accordion-1_embed {
  margin-bottom: 0;
}

.fs_accordion-1_message {
  color: var(--accessible-components--dark-grey);
}

@media screen and (min-width: 1280px) {
  .grid-services {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    flex-direction: column;
    grid-template-rows: minmax(220px, auto);
    grid-template-columns: .25fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .section-services {
    padding-left: 5%;
    padding-right: 5%;
  }

  .heading-2 {
    color: var(--snow);
  }
}

@media screen and (min-width: 1440px) {
  .grid-services {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    grid-template-columns: 1.25fr 1fr;
    grid-template-areas: "."
                         "."
                         "."
                         "."
                         "Area"
                         "Area-2";
    grid-auto-rows: 500px;
    max-width: 100%;
  }

  .services-cell.neg-margin {
    position: relative;
    top: -10%;
  }

  .section-services {
    padding-left: 2%;
    padding-right: 2%;
  }

  .slider.diff-height {
    height: 90%;
  }

  .text-span.text-over {
    z-index: 9;
    color: #fff;
    background-color: #75b5a0c4;
    padding: 20px 20px 40px;
    position: absolute;
    inset: auto 0% 0%;
  }

  .paragraph {
    font-weight: 500;
  }

  .div-block-23 {
    height: 90%;
  }

  .text-span-12, .text-span-13, .text-span-14, .text-span-15, .text-span-16, .text-span-17, .text-span-18, .text-span-19 {
    font-weight: 500;
  }

  .div-block-25 {
    justify-content: center;
    align-items: stretch;
    display: flex;
  }

  .div-block-26 {
    width: 50%;
    height: 100%;
  }

  .div-block-26.d {
    height: 200px;
  }

  .div-block-27 {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .grid-services {
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    grid-template-rows: minmax(220px, auto);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: 1fr;
    max-width: 1600px;
    display: grid;
  }

  .services-cell {
    justify-content: space-around;
    position: relative;
  }

  .services-cell.neg-margin {
    position: relative;
    top: -37%;
  }

  .section-services {
    height: 100%;
  }

  .slider {
    background-color: #fff;
    width: 100%;
  }

  .slider.diff-height {
    height: 70%;
  }

  .cover-image._100vh {
    height: 100vh;
  }

  .mask-3 {
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3.6em;
  }

  .about-description-wrap {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-heading {
    margin-left: 10%;
    margin-right: 20%;
  }

  .about-description {
    font-size: 1.4em;
  }

  .grid-services {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-direction: column;
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    grid-template-columns: .25fr .25fr;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-columns: minmax(200px, 1fr);
    grid-auto-flow: row;
    place-content: stretch;
    display: flex;
  }

  .services-cell {
    justify-content: space-between;
  }

  .section-team {
    padding-left: 5%;
  }

  .member-wide {
    grid-template-columns: 200px auto;
  }

  .section-services {
    padding-left: 5%;
    padding-right: 5%;
  }

  .our-goal-heading {
    align-self: auto;
    margin-top: 10%;
    font-size: 1em;
  }

  .services-cell-empty {
    display: none;
  }

  .slider {
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cover-image {
    height: 100%;
  }

  .services-video {
    height: 60vh;
    overflow: hidden;
  }

  .contact-link {
    margin-left: 50px;
  }

  .works-item {
    height: 55vh;
    margin-top: 10vh;
  }

  .slider-3 {
    background-color: var(--light-green);
  }

  .slide-nav-2 {
    display: none;
  }

  .prices-destkop {
    padding-left: 5%;
    padding-right: 5%;
    display: none;
  }

  .div-block-2 {
    padding-left: 10px;
  }

  .pricing-tab {
    display: block;
  }

  .tabs {
    flex-flow: column;
  }

  .tabs-menu {
    text-align: left;
    width: 100%;
  }

  .div-block-4, .div-block-5 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .div-block-6 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
  }

  .div-block-7, .div-block-8 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .pricing-content-wrapper {
    justify-content: flex-start;
    align-items: center;
  }

  .section {
    padding-left: 5%;
    padding-right: 5%;
  }

  .item {
    height: 200px;
    padding: 20px;
  }

  .item-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .container-2 {
    justify-content: space-between;
  }

  .nav-menu {
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  .brand {
    flex: 1;
    right: 0;
  }

  .icon-3 {
    color: var(--snow);
    transform: scale(1.5);
  }

  .div-block-13 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .footer-flex-container {
    flex-flow: row;
  }

  .div-block-15 {
    font-size: .8em;
    line-height: 150%;
  }

  .div-block-16 {
    width: 20%;
    font-size: .8em;
  }

  .social-wrapper {
    text-align: left;
  }

  .social-image.small-icon {
    width: 25px;
    height: 25px;
  }

  .social-block.pl-none {
    padding-left: 0;
  }

  .button-wrapper {
    flex-flow: row;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .list {
    font-size: 1em;
  }

  .mask-3 {
    height: 90vh;
  }

  .slide-nav-4 {
    background-position: 50% 0;
    background-size: cover;
  }

  .text-span-18 {
    font-weight: 500;
  }

  .add-ons_accordion-header.add-ons_js-accordion-header.question-text {
    background-color: var(--light-green);
  }

  .add-ons_accordion-item.add-ons_js-accordion-item {
    width: 100%;
    display: block;
    overflow: visible;
  }

  .add-ons_accordion-title {
    white-space: nowrap;
  }

  .prices---mobile {
    padding-top: 40px;
    display: none;
  }

  .add-ons_accordion.add-ons_js-accordion {
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-add-ons {
    background-image: url('../images/squiggle-bg.png');
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-image {
    height: 100%;
  }

  .list-item-2, .list-2 {
    font-size: 1em;
  }

  .social-wrapper-2 {
    text-align: left;
  }

  .social-block-2.pl-none {
    padding-left: 0;
  }

  .hero-heading-2.whtheading {
    font-size: 4em;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .container-6 {
    max-width: 728px;
  }

  .mobilepricesnew {
    display: block;
  }

  .dropcont {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .dropdown-toggle {
    color: var(--yellow);
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
  }

  .dropdown {
    background-color: var(--light-green);
    width: 100%;
    margin-top: 20px;
  }

  .dropdown-list {
    text-align: center;
  }

  .dropdown-list.w--open {
    background-color: var(--white);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .fs_accordion-1_header {
    background-color: var(--light-green);
    color: var(--snow);
    text-transform: uppercase;
    font-weight: 600;
  }

  .fs_accordion-1_content {
    overflow: visible;
  }

  .div-block-28, .div-block-29, .div-block-30, .div-block-31 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2.2em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.6em;
  }

  h6 {
    font-size: 1.1em;
  }

  .container-hero {
    flex-direction: column;
    justify-content: flex-start;
  }

  .section-hero {
    padding-right: 10vw;
  }

  .hero-content {
    padding-bottom: 5vh;
  }

  .navigation-destkop {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-auto-columns: 1fr;
    align-self: flex-end;
    justify-items: start;
    width: auto;
    display: grid;
  }

  .navigation-destkop.sticky {
    display: none;
  }

  .section-about {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .container-about {
    flex-direction: column;
  }

  .about-image-wrap {
    width: 100%;
    margin-bottom: 5vh;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-description-wrap {
    align-self: flex-start;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-heading {
    margin-bottom: 10vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  .grid-services {
    grid-row-gap: 10vw;
    grid-template-columns: 1fr;
  }

  .services-cell {
    color: #534d4a;
    background-color: #75b5a0;
  }

  .section-team {
    padding: 10vh 10%;
  }

  .member-photo {
    width: 240px;
  }

  .member-wide {
    grid-template-columns: 1fr;
  }

  .section-services {
    padding-left: 10%;
    padding-right: 10%;
  }

  .grid-team {
    grid-template-columns: 1fr;
  }

  .our-goal-heading {
    color: #fff;
    font-size: 2em;
  }

  .services-cell-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
  }

  .services-cell-empty {
    display: none;
  }

  .team-right {
    grid-row-gap: 10vh;
    padding-top: 10vh;
  }

  .price-title {
    color: var(--dark-slate-grey);
  }

  .value-title {
    font-size: 1em;
  }

  .navigation-item {
    margin-bottom: 0;
  }

  .navigation-item.book-now {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 700;
  }

  .navigation-item.book-now.no-margin.bigbutton {
    margin-bottom: 20px;
  }

  .works-item {
    flex-direction: column;
    margin-top: 5vh;
    overflow: hidden;
  }

  .contacts-text, .contacts-text.address {
    margin-left: 0;
  }

  .text-span {
    color: #fff;
  }

  .titaradiv {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .prices-destkop {
    display: none;
  }

  .div-block-3 {
    display: block;
  }

  .div-block-4, .div-block-5 {
    width: 100%;
  }

  .div-block-6 {
    display: block;
  }

  .div-block-7, .div-block-8 {
    width: 100%;
  }

  .container {
    flex-direction: row;
    display: flex;
  }

  .contact-form {
    padding: 40px 20px;
  }

  .question-text {
    margin-top: 8px;
  }

  .container-2 {
    background-color: var(--light-green);
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-11 {
    display: block;
  }

  .footer-2 {
    padding: 40px 0 0 20px;
  }

  .footer-flex-container {
    flex-flow: column;
  }

  .div-block-15, .div-block-16 {
    width: 30%;
  }

  .social-wrapper {
    margin-bottom: 10px;
    font-size: .8em;
  }

  .social-block {
    padding: 5px;
  }

  .navigation-mobile.sticky {
    background-color: var(--black-17);
    opacity: 1;
    display: block;
  }

  .grid {
    width: 100%;
  }

  .container-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .add-ons_accordion-header.add-ons_js-accordion-header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .add-ons_accordion-item {
    box-shadow: none;
  }

  .add-ons_accordion-body.add-ons_js-accordion-body {
    padding-bottom: 1.5rem;
  }

  .add-ons_accordion {
    width: 100%;
  }

  .page-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .hero-heading-2.whtheading {
    font-size: 3em;
  }

  .gallery-overview {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .license-images {
    column-count: 3;
  }

  .container-hero {
    padding-top: 5vh;
  }

  .section-hero {
    height: auto;
  }

  .hero-content {
    min-height: 50vh;
  }

  .hero-heading {
    color: var(--light-green);
    margin-bottom: 30px;
    font-size: 2.5em;
  }

  .navigation-destkop {
    align-self: flex-start;
  }

  .navigation-destkop.sticky {
    z-index: 999;
  }

  .about-heading {
    margin-bottom: 2vh;
  }

  .grid-services {
    grid-template-columns: 1fr;
  }

  .services-cell {
    padding-bottom: 10%;
  }

  .section-team {
    padding-top: 3vh;
  }

  .member-name {
    font-weight: 500;
  }

  .member-title {
    padding-left: 0;
    padding-right: 0;
  }

  .section-services {
    padding-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
  }

  .our-goal-heading {
    color: #fff;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 1.5em;
  }

  .services-cell-title {
    padding-left: 10%;
  }

  .services-cell-empty {
    display: none;
  }

  .slider-arrow {
    display: block;
  }

  .slider-arrow.right {
    display: block;
    position: absolute;
  }

  .price-title {
    color: var(--dark-slate-grey);
    font-size: 1em;
    font-weight: 500;
  }

  .services-video {
    height: 60vh;
    display: block;
  }

  .value-title {
    font-weight: 500;
  }

  .navigation-item.no-margin.mobile-margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .contact-link {
    margin-left: 20px;
    font-size: 1em;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 8%;
  }

  .footer-link {
    margin-bottom: 20px;
  }

  .works-item {
    height: 65vh;
    margin-top: 10vh;
  }

  .contacts-text {
    text-align: center;
    margin-left: 0;
    font-size: 1em;
  }

  .contacts-text.address {
    margin-left: 0;
  }

  .text-span {
    color: var(--yellow);
  }

  .text-span.text-over {
    color: var(--snow);
  }

  .text-span-3 {
    color: var(--light-green);
  }

  .text-block {
    color: var(--light-green);
    font-size: 1.1em;
  }

  .pricediv {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .pricediv.margin-10 {
    width: 100%;
  }

  .heading {
    font-weight: 700;
  }

  .titaradiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .heading-2 {
    font-weight: 600;
  }

  .extra-cost {
    font-weight: 500;
  }

  .paragraph-2 {
    color: var(--black-17);
    text-align: left;
  }

  .icon {
    margin-top: 331.766px;
    margin-right: 40px;
  }

  .icon-2 {
    margin-top: 331.766px;
    margin-left: 40px;
  }

  .prices-destkop {
    display: none;
  }

  .tabs {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .tabs-menu {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: block;
  }

  .div-block-3 {
    flex-direction: column;
  }

  .div-block-4, .div-block-5 {
    width: 100%;
  }

  .div-block-6 {
    flex-direction: column;
  }

  .div-block-7, .div-block-8 {
    width: 100%;
  }

  .container.width-100 {
    text-align: left;
    justify-content: flex-start;
  }

  .section {
    padding-left: 10%;
    padding-right: 10%;
  }

  .item {
    width: 100%;
  }

  .item-wrapper {
    display: block;
  }

  .text-field-2, .text-field-3, .textarea-2, .text-field-4, .text-field-5 {
    border-radius: 0;
  }

  .question-text {
    flex: 0 100%;
    margin-bottom: 8px;
    margin-left: 16px;
    padding-right: 20px;
  }

  .container-2 {
    background-color: var(--light-green);
    justify-content: space-between;
    display: flex;
    box-shadow: 0 2px 5px #0003;
  }

  .nav-menu {
    background-color: var(--black-17);
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 20px;
  }

  .brand {
    flex: 1;
  }

  .brand.w--current {
    padding-left: 0;
  }

  .div-block-11 {
    flex-direction: column;
  }

  .div-block-12, .div-block-13 {
    width: 100%;
  }

  .footer-2 {
    text-align: left;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-flex-container {
    flex-direction: column;
  }

  .div-block-14 {
    width: 100%;
    padding-top: 20px;
  }

  .div-block-15 {
    border-top: 1px solid var(--snow);
    border-bottom: 1px solid var(--snow);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .div-block-16 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .social-wrapper.negative-margin._1 {
    margin-top: 0;
    padding: 10px;
    position: absolute;
    inset: auto auto 0% 0%;
  }

  .social-wrapper.negative-margin._1.social-mobile-nav {
    margin-top: -20px;
    margin-left: -10px;
    position: relative;
  }

  .menu-button {
    background-color: var(--light-green);
  }

  .menu-button.w--open {
    background-color: var(--black-17);
  }

  .navigation-mobile.sticky {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .footer-copy-text {
    text-align: center;
  }

  .button {
    background-color: var(--light-green);
  }

  .container-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .list-item, .list {
    text-align: left;
  }

  .mask-3 {
    height: 100%;
  }

  .slide-nav-4 {
    background-position: 50%;
  }

  .grid {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center;
    display: grid;
  }

  .text-block-3 {
    width: 100%;
  }

  .container-4 {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    display: block;
  }

  .heading-3 {
    font-weight: 600;
  }

  .heading-3.margin-10 {
    font-weight: 500;
  }

  .text-block-4 {
    font-weight: 300;
  }

  .mask-4 {
    width: 100%;
  }

  .mask-5 {
    height: auto;
  }

  .add-ons_accordion-header.add-ons_js-accordion-header.question-text {
    margin-left: 0;
  }

  .add-ons_accordion-body {
    padding-left: 56px;
  }

  .add-ons_accordion-body.add-ons_js-accordion-body {
    padding-left: 0;
    padding-right: 0;
  }

  .section-add-ons {
    background-image: none;
  }

  .slide-image {
    width: 100%;
  }

  .bold-text-5 {
    color: var(--dark-slate-grey);
    font-weight: 500;
  }

  .bold-text-5.whitetext {
    color: var(--white);
  }

  .bold-text-6 {
    color: var(--yellow);
  }

  .text-span-38 {
    color: #fcf7f5;
  }

  .outlinebutton {
    margin-top: 0;
  }

  .social-wrapper-2.negative-margin._1 {
    margin-top: 0;
    padding: 10px;
    position: absolute;
    inset: auto auto 0% 0%;
  }

  .hero-heading-2 {
    color: #81b29a;
    margin-bottom: 30px;
    font-size: 2.5em;
  }

  .hero-heading-2.whtheading {
    font-size: 2em;
  }

  .text-block-10 {
    color: var(--snow);
    font-size: 1.1em;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .container-6 {
    max-width: none;
  }
}

#w-node-babc91ba-d4b5-cef9-4dd8-d6184f634265-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634275-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634276-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634278-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634279-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f63427a-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f63427b-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f63427c-443b3ce9, #w-node-babc91ba-d4b5-cef9-4dd8-d6184f63427d-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142df9-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e09-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e0a-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e0c-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e0d-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e0e-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e0f-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e10-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142e11-443b3ce9, #w-node-daa62704-5854-6fb2-b0c1-23b50a23d78e-443b3ce9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e2cf1cbb-d25f-5366-24e1-959b45f2ffb3-443b3ce9, #w-node-_32c0b8d1-8efe-6249-1539-eb23bfe612ba-443b3ce9, #w-node-ac4f5e5d-89a5-f7f6-b0bb-19bf57ddeb51-443b3ce9 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-aa78df22-16cf-ae58-056a-5e842509f697-443b3ce9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c56973f3-bbe8-917f-d487-0152b31622cf-443b3ce9, #w-node-f59224fe-1007-143e-5d1c-8463f07b9f7e-443b3ce9, #w-node-_519f00c4-bd44-e137-2d17-707493b413cf-443b3ce9, #w-node-c6dd5454-c283-9426-1970-38ae3957b485-443b3ce9 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_64428536-ef0d-c8e3-ff6f-27b6348658a3-443b3ce9 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7b5aaa9e-3288-2d46-82a4-8f8f8163623b-443b3ce9 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_74d1e968-e990-cd0f-5bb7-fdccdb126b5d-443b3ce9, #w-node-_00fb0c3f-4201-4f57-4488-1a2eea1e437e-443b3ce9, #w-node-_4bcdfcff-bf90-2a12-8f97-e430f5c02667-443b3ce9, #w-node-fbd0b4a3-716d-c5b9-9689-484d9a05bcf3-443b3ce9, #w-node-aa9fab13-323f-6db1-b704-b46248dbf99e-443b3ce9, #w-node-_43756173-49b3-b430-1a30-d11a16feafbb-443b3ce9, #w-node-_567481e4-6e19-8076-a103-564f05251b9d-443b3ce9, #w-node-_2cf4323c-83e4-1bb9-acb8-ca83e45a2a0b-e83b3cf2, #w-node-_2774e4e7-1997-4531-0c36-2ae6222506b4-e83b3cf2 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-ac4f5e5d-89a5-f7f6-b0bb-19bf57ddeb51-443b3ce9, #w-node-_519f00c4-bd44-e137-2d17-707493b413cf-443b3ce9 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}

@media screen and (min-width: 1440px) {
  #w-node-e2cf1cbb-d25f-5366-24e1-959b45f2ffb3-443b3ce9 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634265-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142df9-443b3ce9 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_32c0b8d1-8efe-6249-1539-eb23bfe612ba-443b3ce9 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e2cf1cbb-d25f-5366-24e1-959b45f2ffb3-443b3ce9, #w-node-_519f00c4-bd44-e137-2d17-707493b413cf-443b3ce9, #w-node-c6dd5454-c283-9426-1970-38ae3957b485-443b3ce9 {
    grid-area: span 2 / span 1 / span 2 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-babc91ba-d4b5-cef9-4dd8-d6184f634265-443b3ce9, #w-node-_9d2cdb0f-c031-80f3-039f-869878142df9-443b3ce9 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7b5aaa9e-3288-2d46-82a4-8f8f8163622b-443b3ce9, #w-node-_7b5aaa9e-3288-2d46-82a4-8f8f8163622f-443b3ce9, #w-node-_7b5aaa9e-3288-2d46-82a4-8f8f81636233-443b3ce9, #w-node-_7b5aaa9e-3288-2d46-82a4-8f8f81636237-443b3ce9 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}


